<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Purchase Price</th>
            <th>Current Price</th>
            <th>No. of Shares</th>
            <th>Percentage Return</th>
        </tr>
    </thead>
    <tbody>
        <% stocks.forEach(function (stock) { %>
        <tr>
            <td> <%= stock.name %> </th>
            <td> <%= stock.symbol %> </th>
            <td> <%= stock.priceBought %> </th>
            <td> <%= stock.currentPrice %> </th>
            <td> <%= stock.noOfShares %> </th>
            <td> <%= stock.percentReturn %> </th>
        </tr>
        <% }); %>
    </tbody>
</table>