<% if (name && symbol && lastPrice && open && change && percentChange) { %>

<p> <span id="name"> <%= name %> </span> (<span id="symbol"> <%= symbol %> </span>) </p>
<table id="table-element">
    <thead>
        <tr>
            <th>Last Price</th>
            <th>Open</th>
            <th>Year's Change</th>
            <th>Year's Percent. Change</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th id="lastPrice"> <%= lastPrice %> </th>
            <th id="open"> <%= open %> </th>
            <th id="change"> <%= change %> </th>
            <th id="percentChange"> <%= percentChange %> </th>
        </tr>
    </tbody>
</table>

<% } %>